/*--------------------------------------------- TIPOGRAFÍA ----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*------------------------------------- LOGIN ---------------------------------------------*/
body {
  margin: 0;
}
body#login {
  background: url(img/Bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}
:root {
  --br: 5px;
}
form {
  padding: 36px;
  background: #ffffff;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br);
  width: 364px;
  margin: auto;
  -webkit-border-radius: var(--br);
  -moz-border-radius: var(--br);
  -ms-border-radius: var(--br);
  -o-border-radius: var(--br);
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#login .btn {
  color: white !important;
  width: 100%;
  height: 38px;
  background-color: #374785 !important;
  border: 1px solid #24305e !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  -webkit-border-radius: var(--br);
  -moz-border-radius: var(--br);
  -ms-border-radius: var(--br);
  -o-border-radius: var(--br);
}
#login h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 10px;
  color: #000000;
}
label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
input {
  width: 292px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

/*---------------------------------------- MAPA -------------------------------------------*/
#map {
  height: calc(100vh - 66.1px);
}
.btn-map {
  background: #374785;
  border: 1px solid #24305e;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br);
  width: 107px;
  height: 33px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: var(--br);
  -moz-border-radius: var(--br);
  -ms-border-radius: var(--br);
  -o-border-radius: var(--br);
}

.navbar {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

#logo {
  display: none;
}
.scaloneta {
  margin: 0 6% 0 1%;
}
.guayerd {
  padding: 4%;
}
.logo-chico {
  visibility: hidden;
}
.active {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #212529;
}
select {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 326px;
  height: 38px;
  left: 37%;
  top: 110px;
  margin-left: -163px;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 3px rgba(0, 0, 0, 0.18);
  border-radius: var(--br);
  z-index: 1000;
  -webkit-border-radius: var(--br);
  -moz-border-radius: var(--br);
  -ms-border-radius: var(--br);
  -o-border-radius: var(--br);
}
footer {
  background: #ffffff;
  border-radius: 0px 0px 0px 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 0.8rem;
}

.navbar-toggler {
  box-shadow: 0 0 0 !important;
  border: 0;
}

/*------------------------------------------- JUGADORES ------------------------------------*/

.h1 {
   display: flex;
   justify-content: center;
 padding: 2rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.h1 span {
  color: #119dd8;
  padding-right: 1rem;
}
.card {
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
}
.card-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #212529;
  text-align: start !important;
}

.card-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #212529;
  text-align: start !important;
}

section {
  width: 100%;
}

#jugadores .card .img-wrapper {
  height: 250px;
  overflow: hidden;
  position: relative;
}

#jugadores .img-wrapper .span {
  position: absolute;
  height: 35px;
  left: 85%;
  top: 2%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
}

/*----------------------------------------- MEDIA QUERIES -----------------------------------*/

@media (max-width: 500px) {
  body#login {
    background: transparent;
  }
  #login main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  form {
    box-shadow: none;
    width: 390px;
  }
  footer {
    justify-content: center;
  }

  #logo {
    display: block;
    width: 199px;
  }
  .guayerd {
    display: none;
  }
  .logo-chico {
    visibility: visible;
  }
  #header {
    justify-content: start;
  }
  .scaloneta {
    margin-right: 46%;
  }
  .btn-map {
    width: 100%;
  }
  select {
    top: 192px;
  }
  option {
    width: 150px;
  }
  
}
